<div style="text-align: center;">
  <img src="https://github.com/Hack-io-Data/Imagenes/blob/main/01-LogosHackio/logo_naranja@4x.png?raw=true" alt="esquema" />
</div>

# Laboratorio Pandas (EDA y Unión de Datos)

## Los datos

Para este laboratorio, trabajarás con los siguientes conjuntos de datos:

- **`netflix_originals.csv`**: Contiene información sobre producciones originales de Netflix. Las columnas que nos encontraremos en este conjunto de datos son: 

   - `Title`: Contiene el nombre del título de la producción original de Netflix.

   - `Genre`: Especifica el género o combinación de géneros de la producción.

   - `Premiere`: Indica la fecha de estreno de la producción en Netflix.

   - `Runtime`: Contiene la duración de la producción en minutos.

   - `IMDB Score`: Representa la calificación promedio que la producción ha recibido en la plataforma IMDB.

   - `Language`: Especifica el idioma principal o los idiomas en los que se presenta la producción.

- **`netflix_titles.csv`**: Contiene información sobre una variedad de títulos disponibles en la plataforma Netflix, incluyendo tanto películas como series de televisión. Las columnas que nos encontraremos en este conjunto de datos son:

   - `show_id`: Identificador único para cada título en el dataset.

   - `type`: Especifica el tipo de contenido, ya sea "Movie" (película) o "TV Show" (serie de televisión).

   - `title`: Contiene el nombre del título de la producción.

   - `director`: Muestra el nombre del director del título. Puede estar vacío en algunos casos.

   - `cast`: Lista de actores y actrices que participaron en el título. También puede estar vacío en algunos casos.

   - `country`: País o países donde se produjo el título. Esta columna también puede tener valores faltantes.

   - `date_added`: Fecha en la que el título fue añadido al catálogo de Netflix.

   - `release_year`: Año en que el título fue lanzado o producido.

   - `rating`: Clasificación del contenido en términos de audiencia (por ejemplo, PG-13, TV-MA).

   - `duration`: Duración del título. Para películas, se expresa en minutos (e.g., "90 min") y para series en temporadas (e.g., "2 Seasons").

   - `listed_in`: Categorías o géneros bajo los cuales el título está clasificado (por ejemplo, "Documentaries", "TV Dramas").

   - `description`: Breve sinopsis o descripción del contenido del título.

A lo largo de los laboratorios de Pandas, trabajarás con estos conjuntos de datos (o con los derivados del Laboratorio), algunas de las actividades que realizaremos son:

- Exploración de datos y análisis exploratorio (EDA) para familiarizarse con los conjuntos de datos.

- Realización de uniones entre conjuntos de datos, aplicando diferentes técnicas de *merging* y analizando la relevancia de cada método.

- Uso de funciones de selección y filtrado (`loc`, `iloc`) para extraer información clave.

- Desarrollo de análisis descriptivos y visualización de patrones para comprender mejor las decisiones estratégicas de la plataforma.

----

## Objetivo General de la Serie de Laboratorios



1. **Unión de `netflix_titles.csv` con `netflix_originals.csv`:**

   - **Análisis de contenido original:**  Identificarás los títulos que son producciones originales de Netflix y los compararás con los títulos adquiridos. Este análisis te permitirá:

     - Comparar la diversidad de géneros entre los títulos originales y no originales.

     - Evaluar si ciertos géneros o tipos de contenido (como documentales o series) son más frecuentes en las producciones originales.

     - Investigar si la producción original se concentra en determinados países o idiomas.


   - **Evaluación de contenido:** En esta etapa, explorarás si las producciones originales de Netflix tienden a recibir mejores o peores evaluaciones en comparación con el contenido adquirido. Algunas preguntas que se buscarán responder incluyen:

     - ¿Los títulos originales tienen una calificación promedio superior en plataformas como IMDB?

     - ¿Son las producciones originales más consistentes en términos de calidad percibida?

     - ¿Existen diferencias en la popularidad de los títulos originales según su género o país de origen?


   - **Identificación de tendencias:**  Por último, este análisis te permitirá explorar cómo ha evolucionado la estrategia de contenido de Netflix a lo largo del tiempo. Algunos puntos clave a investigar serán:

     - ¿Cómo ha crecido la producción original en comparación con la adquisición de contenido?

     - ¿Qué géneros o tipos de contenido han recibido mayor inversión en los últimos años?
     
     - ¿Existen patrones en los países o idiomas de las producciones originales, especialmente en relación con la expansión global de Netflix?


----


## Ejercicio: Análisis y Enriquecimiento del Catálogo de Netflix

### Parte 1: Análisis Exploratorio de Datos (EDA)

1. **Carga de los datos:**

   - Deberás cargar los dos conjuntos de datos que te hemos proporcionado para realizar este Laboratorio:

     - `netflix_originals.csv`

     - `netflix_titles.csv`

   Deberás revisar la estructura de cada conjunto de datos utilizando los métodos aprendidos durante la lección.

2. **Análisis de columnas y consistencia:**

   - Deberás hacer un análisis exploratorio de cada uno de los conjuntos de datos. Será obligatorio que incluyas las conclusiones generales obtenidas de cada uno de los análisis exploratorios en el Jupyter Notebook de tus soluciones.

   - Explorar qué columnas contiene cada conjunto de datos y cuáles son sus tipos de datos. Identificar si hay valores nulos o duplicados.

   - Algunas preguntas que nos podemos plantear en esta fase son (recuerda que esto es solo un ejemplo, y que podemos explorar todo lo que queramos/necesitemos para entender lo mejor posible los conjuntos de datos):

      - ¿Cuáles son los tipos de datos de cada columna? Nos puede ayudar a detectar si algún tipo de dato está incorrectamente asignado, como fechas almacenadas como cadenas de texto.

      - ¿Existen valores nulos? ¿En qué columnas están? Este paso es crucial para decidir si deben ser eliminados, rellenados o ignorados.

      - ¿Cuántos títulos únicos hay en cada conjunto de datos? Nos puede permitir verificar si existen títulos duplicados que puedan distorsionar el análisis.

      - ¿Qué géneros tenemos en el conjunto de datos? Esto nos puede ayudar a identificar los géneros más populares o incluso a identificar una posible limpieza de dicha columna para poder extraer conclusiones más claras en nuestro análisis.

### Parte 2: Unión de Datos

1. **Realización de la unión:**

   - Deberás realizar la unión que consideres más apropiada entre `netflix_titles.csv` y `netflix_originals.csv`. Además, deberás justificar el tipo de unión que has realizado.

   - Esto nos ayudará a contestar preguntas más adelente del tipo:

     - ¿Cuántos títulos en `netflix_titles.csv` son producciones originales de Netflix?

     - ¿Hay diferencias significativas en la puntuación de IMDB entre títulos originales y no originales?

### Parte 3: Uso de `loc` e `iloc`

Usando el DataFrame creado en la Parte 2: 

1. **Filtrado de datos con `loc`:**

   - Selecciona todas las filas donde el tipo de contenido sea “Movie”.

   - Muestra solo los títulos (title) y la duración (duration) de todos los contenidos que sean de tipo “TV Show”.

   - Selecciona todas las filas donde el país sea “United States”.

   - Muestra todas las películas (type = “Movie”) y selecciona las columnas title y director.

   - Selecciona los títulos (title) y géneros (listed_in) de todas las producciones lanzadas en 2018.

   - Selecciona las filas donde la columna director esté vacía y muestra solo los títulos (title).

2. **Acceso a datos específicos con `iloc`:**

   - Selecciona las primeras 5 filas del conjunto de datos y muestra solo las columnas title, director y country.

   - Muestra las últimas 5 filas del conjunto de datos y selecciona las columnas title y description.

   - Selecciona las primeras 10 filas del dataset y muestra las columnas desde la segunda hasta la quinta (incluidas). 

   - Muestra las últimas 7 filas del dataset y selecciona las columnas title, director, y country usando índices posicionales.

   - Selecciona las filas desde la 15 hasta la 25 (incluidas) y muestra las primeras 4 columnas.

   - Muestra las filas 20 a 30 y solo las columnas title, release_year, y rating usando índices posicionales.


**NOTA IMPORTANTE**: Antes de terminar el lab, guarda el conjunto de datos creado en la fase de unión para trabajar con el en las siguientes lecciones.

1. **Carga de los datos:**

In [193]:
import pandas as pd
pd.set_option('display.max_columns', None)
import numpy as np

In [194]:
netflix_original = pd.read_csv("datos/netflix_originals.csv")
netflix_original.drop(columns = ["Unnamed: 0"], inplace=True)
netflix_original

,Title,Genre,Premiere,Runtime,IMDB Score,Language
0,Enter the Anime,Documentary,"August 5, 2019",58,2.5,English/Japanese
1,Dark Forces,Thriller,"August 21, 2020",81,2.6,Spanish
2,The App,Science fiction/Drama,"December 26, 2019",79,2.6,Italian
3,The Open House,Horror thriller,"January 19, 2018",94,3.2,English
4,Kaali Khuhi,Mystery,"October 30, 2020",90,3.4,Hindi
...,...,...,...,...,...,...
508,Cuba and the Cameraman,Documentary,"November 24, 2017",114,8.3,English
509,Dancing with the Birds,Documentary,"October 23, 2019",51,8.3,English
510,Winter on Fire: Ukraine's Fight for Freedom,Documentary,"October 9, 2015",91,8.4,English/Ukranian/Russian
511,Springsteen on Broadway,One-man show,"December 16, 2018",153,8.5,English
512,David Attenborough: A Life on Our Planet,Documentary,"October 4, 2020",83,9.0,English

In [195]:
netflix_titles =pd.read_csv("datos/netflix_titles.csv")
netflix_titles.drop(columns = ["show_id","Unnamed: 0"], inplace=True)
netflix_titles

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,NaN,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,NaN,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
...,...,...,...,...,...,...,...,...,...,...,...
8802,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8803,TV Show,Zombie Dumb,NaN,NaN,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
8804,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,NaN,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,NaN,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

2. **Análisis de columnas y consistencia:**

In [196]:
netflix_original.describe(include=object)

,Title,Genre,Premiere,Language
count,513,513,513,513
unique,513,106,350,37
top,David Attenborough: A Life on Our Planet,Documentary,"October 18, 2019",English
freq,1,132,5,352

In [197]:
netflix_original.describe()

          Runtime  IMDB Score
count  513.000000  513.000000
mean    94.674464    6.210916
std     26.648121    0.968850
min      4.000000    2.500000
25%     87.000000    5.600000
50%     97.000000    6.300000
75%    108.000000    6.900000
max    209.000000    9.000000

In [198]:
netflix_titles.describe(include=object)

,type,title,director,cast,country,date_added,rating,duration,listed_in,description
count,8807,8807,6173,7982,7976,8797,8803,3994,8807,8807
unique,2,8807,4528,7692,748,1767,17,185,514,8775
top,Movie,Zubaan,Rajiv Chilaka,David Attenborough,United States,"January 1, 2020",TV-MA,2 Seasons,"Dramas, International Movies","Paranormal activity at a lush, abandoned prope..."
freq,6131,1,19,19,2818,109,3207,425,362,4

In [199]:
netflix_titles.describe()

       release_year
count   8807.000000
mean    2014.180198
std        8.819312
min     1925.000000
25%     2013.000000
50%     2017.000000
75%     2019.000000
max     2021.000000

In [200]:
for column in netflix_original.columns:
    print("\n--------------\n")
    print(column.upper())
    print(np.sort(netflix_original[column].unique()))

--------------

TITLE
['15 August' '1922' '22 July' '5 Star Christmas' '6 Balloons'
 '6 Underground' '7 años' 'A 3 Minute Hug'
 "A Babysitter's Guide to Monster Hunting" 'A California Christmas'
 'A Christmas Prince' 'A Christmas Prince: The Royal Baby'
 'A Christmas Prince: The Royal Wedding' 'A Fall from Grace'
 'A Futile and Stupid Gesture'
 'A Life of Speed: The Juan Manuel Fangio Story' 'A Love Song for Latasha'
 'A Secret Love' 'A Tale of Two Kitchens' 'A Very Murray Christmas'
 'A Week Away' 'A Whisker Away' 'AK vs AK' 'ARQ' 'After Maria'
 'After the Raid' 'Airplane Mode' 'Ajeeb Daastaans' 'Alex Strangelove'
 'Alien Xmas' 'All Because of You' 'All Day and a Night'
 'All Together Now' 'Altered Carbon: Resleeved' 'Always Be My Maybe'
 'Amanda Knox' 'Amateur' 'American Factory'
 'American Factory: A Conversation with the Obamas'
 'American Murder: The Family Next Door' 'American Son'
 'Anelka: Misunderstood' "Angela's Christmas" "Angela's Christmas Wish"
 'Antoine Griezmann: The Making of a Legend' 'Apostle'
 'Arlo the Alligator Boy' 'Army of the Dead' 'Athlete A' 'Audrie & Daisy'
 'Back to School' 'Bad Trip' 'Baggio: The Divine Ponytail' 'Barry'
 'Beasts of No Nation' 'Beats' 'Becoming' 'Been So Long' 'Below Zero'
 'Benji' 'Between Two Ferns: The Movie' 'Biggie: I Got a Story to Tell'
 'Bikram: Yogi, Guru, Predator' 'Bird Box' 'Birders' 'Blue Miracle'
 'Bomb Scared' 'Brahman Naman' 'Bright' 'Bulbbul' 'Burning Sands'
 'Cadaver' 'Calibre' 'Cam' 'Candy Jar' 'Canvas' 'Cargo' 'Casting JonBenet'
 'Caught by a Wave' 'Chasing Coral' 'Choked: Paisa Bolta Hai' 'Chopsticks'
 'Christmas Crossfire' 'Christmas Inheritance' 'Circus of Books'
 'Citation' 'City of Joy' "Class of '83" 'Clinical' 'Coffee & Kareem'
 'Coin Heist' 'Come Sunday' 'Concrete Cowboy' 'Cops and Robbers'
 'Crack: Cocaine, Corruption & Conspiracy' 'Crazy About Her'
 'Crazy Awesome Teachers' 'Crip Camp: A Disability Revolution'
 'Cuba and the Cameraman' 'Da 5 Bloods' 'Dad Wanted'
 'Dance Dreams: Hot Chocolate Nutcracker' 'Dancing with the Birds'
 'Dangerous Lies' 'Dark Forces' 'David Attenborough: A Life on Our Planet'
 'Dead Kids' 'Death Note' 'Death to 2020' 'Deidra & Laney Rob a Train'
 'Derren Brown: Sacrifice' 'Desperados' 'Despite Everything'
 'Dick Johnson Is Dead' 'Dolemite Is My Name'
 'Dolly Parton: A MusiCares Tribute' 'Double Dad' 'Drive' 'Dude'
 'Earth and Blood' 'Earthquake Bird' 'El Camino Christmas'
 'El Camino: A Breaking Bad Movie' 'Eli' 'Elisa & Marcela' 'End Game'
 'Enter the Anime' 'Eurovision Song Contest: The Story of Fire Saga'
 'Evelyn' 'Extinction' 'Extraction' 'Extremis' 'Falling Inn Love'
 'Fatal Affair' 'Father Soldier Son' 'Father of the Year' 'Fearless'
 'Feel the Beat' 'Feminists: What Were They Thinking?' 'Ferry'
 'Finding Agnes' 'Fire in Paradise' 'Firebrand' 'First Match'
 'First They Killed My Father' 'Forgive Us Our Debts' 'Fractured'
 'GIMS: On the Record' 'Gaga: Five Foot Two' 'Game Over, Man!'
 'Geez & Ann' "Gerald's Game" 'Get Me Roger Stone' 'Get the Goat'
 'Get the Grift' 'Ghost Lab' 'Ghost Stories' 'Ghosts of Sugar Land'
 'Ginny Weds Sunny' "Girlfriend's Day" 'Giving Voice' 'Good Sam'
 'Grass Is Greener' 'Guillermo Vilas: Settling the Score' 'Guilty'
 'Gunjan Saxena: The Kargil Girl' 'Handsome: A Netflix Mystery Movie'
 'Happy Anniversary' 'Have a Good Trip: Adventures in Psychedelics'
 'Heroin(e)' 'High Flying Bird' 'Hillbilly Elegy' 'His House'
 'Hold the Dark' 'Holidate' 'Holiday Rush' 'Holiday in the Wild'
 'Hope Frozen: A Quest to Live Twice' 'Horse Girl' 'Hot Girls Wanted'
 'House Arrest' 'How It Ends' 'Hubie Halloween' 'I Am All Girls'
 'I Am the Pretty Thing That Lives in the House'
 "I Don't Feel at Home in This World Anymore" "I'll Sleep When I'm Dead"
 "I'm No Longer Here" "I'm Thinking of Ending Things" 'IO' 'Ibiza'
 'Icarus' 'If Anything Happens I Love You' 'Imperial Dreams'
 'In the Shadow of the Moon' 'In the Tall Grass' 'Into the Inferno'
 'Intuition' 'Invader Zim: Enter the Florpus' 'Irreplaceable You'
 'Isi & Ossi' 'It Takes a Lunatic' 'Jingle Jangle: A Christmas Journey'
 'Joan Didion: The Center Will Not Hold'
 'John Was Trying to Contact Aliens' 'Joshua: Teenager vs. Superpower'
 'Juanita' 'June & Kopi' 'Just Another Christmas' 'Just Say Yes'
 'Kaali Khuhi' 'Keith Richards: Under the Influence'
 "Kevin Hart's Guide to Black History" 'Kingdom of Us' 'Klaus'
 'LA Originals' 'Ladies First' 'Laerte-se' 'Layla Majnun' 'Let It Snow'
 'Leyla Everlasting' 'Life Overtakes Me' 'Like Father' 'Lionheart'
 'Little Evil' 'Little Miss Sumo' 'Long Shot' 'Lorena, Light-Footed Woman'
 'Los Tigres del Norte at Folsom Prison' 'Lost Bullet' 'Lost Girls'
 'Loudon Wainwright III: Surviving Twin' 'Love Like the Falling Rain'
 'Love Wedding Repeat' 'Love, Guaranteed' 'Ludo' 'Lust Stories'
 "Ma Rainey's Black Bottom"
 "Ma Rainey's Black Bottom: A Legacy Brought to Screen" 'Madame Claude'
 'Malcolm & Marie' 'Marriage Story' 'Mascots' 'Maska' 'Mercury 13' 'Mercy'
 'Milestone' 'Miss Americana' 'Monster' 'Mowgli: Legend of the Jungle'
 'Moxie' 'Mrs. Serial Killer'
 'Mucho Mucho Amor: The Legend of Walter Mercado' 'Murder Mystery'
 'Murder to Mercy: The Cyntoia Brown Story' 'Music Teacher' 'Mute'
 'My Beautiful Broken Brain' 'My Octopus Teacher' 'My Own Man'
 'Nail Bomber: Manhunt' 'Naked' 'Nappily Ever After' 'Night in Paradise'
 "Nobody Knows I'm Here" 'Nobody Sleeps in the Woods Tonight'
 'Nobody Speak: Trials of the Free Press' 'Notes for My Son'
 'Octonauts & the Caves of Sac Actun' 'Octonauts & the Great Barrier Reef'
 'Offering to the Storm' 'Okja' 'On My Skin' 'One Take' 'One of Us'
 'One-Way to Tomorrow' 'Operation Christmas Drop' 'Otherhood'
 'Our Souls at Night' 'Out of Many, One' 'Outlaw King' 'Outside the Wire'
 'Over the Moon' 'Oxygen' 'Paddleton' 'Pagglait' 'Paper Lives' 'Paradox'
 'Paris Is Us' "Pee-wee's Big Holiday" 'Period. End of Sentence.'
 'Pieces of a Woman' 'Point Blank' 'Polar' 'Prime Time' 'Private Life'
 'Project Power' 'Quincy' 'Raat Akeli Hai' 'Rajma Chawal'
 'Ram Dass, Going Home' 'Rattlesnake'
 'ReMastered: Devil at the Crossroads'
 'ReMastered: Massacre at the Stadium' "ReMastered: The Lion's Share"
 'ReMastered: The Miami Showband Massacre'
 'ReMastered: The Two Killings of Sam Cooke'
 'ReMastered: Who Killed Jam Master Jay?' 'Rebecca' 'Rebirth'
 'Recovery Boys' 'Red Dot' 'Resurface' 'Reversing Roe' 'Rich in Love'
 'Ride or Die' 'Rim of the World' 'Rising High' 'Rising Phoenix'
 "Rocko's Modern Life: Static Cling" 'Rodney King' 'Rogue City'
 'Rooting for Roona' 'Rose Island' 'Roxanne Roxanne' 'Sand Castle'
 'Sandy Wexler' "Sarah Cooper: Everything's Fine" 'Sardar Ka Grandson'
 'Saving Capitalism' 'Seaspiracy' 'Secret Obsession'
 'Secrets of the Saqqara Tomb' 'See You Yesterday' 'Seeing Allred'
 'Sentinelle' 'Sergio' 'Serious Men' 'Seriously Single' 'Set It Up'
 'Seventeen' 'Sextuplets' 'Shawn Mendes: In Wonder'
 'Shawn Mendes: Live in Concert' 'Shimmer Lake' 'Shirkers'
 'Sitara: Let Girls Dream' 'Sky Ladder: The Art of Cai Guo-Qiang'
 'Small Crimes' 'Sol Levante' 'Someone Great' 'Sometimes' 'Soni'
 'Space Sweepers' 'Special Correspondents' 'Spectral' 'Spelling the Dream'
 'Spenser Confidential' 'Springsteen on Broadway' 'Squared Love'
 'Step Sisters' 'Street Flow' 'Strip Down, Rise Up' 'Strong Island'
 'Stuck Apart' 'TAU' 'Take Your Pills' 'Take the 10' 'Tall Girl'
 'Tallulah' 'Team Foxcatcher' 'Tell Me Who I Am' 'Tersanjung the Movie'
 'The After Party' 'The American Meme' 'The Angel' 'The App'
 'The Babysitter' 'The Babysitter: Killer Queen'
 'The Ballad of Buster Scruggs' 'The Beast' 'The Binding'
 'The Black Godfather' 'The Bleeding Edge' 'The Boys in the Band'
 'The Boys in the Band: Something Personal' 'The Call'
 'The Christmas Chronicles' 'The Christmas Chronicles: Part Two'
 'The Claudia Kishi Club' 'The Cloverfield Paradox' 'The Crimes That Bind'
 'The Day of the Lord' 'The Death and Life of Marsha P. Johnson'
 'The Decline' 'The Dig' 'The Dirt' 'The Disciple' 'The Discovery'
 'The Do-Over' 'The Edge of Democracy' 'The Forest of Love'
 'The Fundamentals of Caring' 'The Girl on the Train' 'The Great Hack'
 'The Heartbreak Club' 'The Highwaymen' 'The Holiday Calendar'
 'The Incredible Jessica James' 'The Irishman'
 'The Irishman: In Conversation' 'The Ivory Game' 'The Killer' 'The King'
 'The Kissing Booth' 'The Kissing Booth 2' 'The Knight Before Christmas'
 'The Land of Steady Habits' 'The Larva Island Movie'
 'The Last Days of American Crime' 'The Last Laugh' 'The Last Paradiso'
 'The Last Thing He Wanted' 'The Laundromat'
 'The Legacy of a Whitetail Deer Hunter' 'The Legend of Cocaine Island'
 'The Life Ahead'
 'The Lonely Island Presents: The Unauthorized Bash Brothers Experience'
 'The Lovebirds' 'The Main Event' 'The Mars Generation'
 'The Meyerowitz Stories (New and Selected)' 'The Midnight Sky'
 'The Minimalists: Less Is Now' 'The Misadventures of Hedi and Cokeman'
 'The Most Assassinated Woman in the World'
 'The Most Hated Woman in America' 'The Night Comes for Us' 'The Occupant'
 'The Old Guard' 'The Open House'
 'The Other One: The Long Strange Trip of Bob Weir'
 'The Other Side of the Wind' 'The Outsider' 'The Package' 'The Paramedic'
 'The Perfect Date' 'The Perfection' 'The Players' 'The Polka King'
 'The Princess Switch' 'The Princess Switch: Switched Again' 'The Prom'
 'The Rachel Divide' 'The Red Sea Diving Resort' 'The Ridiculous 6'
 'The Siege of Jadotville' 'The Sleepover' 'The Social Dilemma'
 'The Speed Cubers' 'The Three Deaths of Marisela Escobedo'
 'The Trial of the Chicago 7' 'The Two Popes' 'The Week Of'
 'The White Helmets' 'The White Tiger' 'The Willoughbys'
 'The Woman in the Window' 'The Wrong Missy' 'Things Heard & Seen'
 'Thunder Force' 'Tig' 'Tigertail' 'Time to Hunt'
 'To All the Boys: P.S. I Still Love You' 'To Each, Her Own' 'To the Bone'
 'Tony Parker: The Final Shot' 'Tony Robbins: I Am Not Your Guru' 'Tramps'
 'Travis Scott: Look Mom I Can Fly' 'Triple Frontier'
 'True Memoirs of an International Assassin' 'Two Catalonias' 'Ultras'
 'Uncorked' 'Under the Riccione Sun' 'Unicorn Store' 'Unknown Origins'
 'Upstarts' 'Vampires vs. the Bronx' 'Velvet Buzzsaw' 'Walk. Ride. Rodeo.'
 'War Machine' 'We Are One' 'We Can Be Heroes' 'What Happened to Mr. Cha?'
 'What Happened, Miss Simone?' 'What We Wanted'
 'What Would Sophia Loren Do?' 'Wheelman' 'When We First Met' 'Whipped'
 'Who Would You Take to a Deserted Island?' 'Why Did You Kill Me?'
 'Win It All' 'Wine Country' "Winter on Fire: Ukraine's Fight for Freedom"
 'Work It' 'XOXO' 'Yeh Ballet' "You've Got This" 'Zion']

--------------

GENRE
['Action' 'Action comedy' 'Action thriller' 'Action-adventure'
 'Action-thriller' 'Action/Comedy' 'Action/Science fiction' 'Adventure'
 'Adventure-romance' 'Adventure/Comedy' 'Aftershow / Interview'
 'Animated musical comedy' 'Animation' 'Animation / Comedy'
 'Animation / Science Fiction' 'Animation / Short'
 'Animation/Christmas/Comedy/Adventure' 'Animation/Comedy/Adventure'
 'Animation/Musical/Adventure' 'Animation/Superhero' 'Anime / Short'
 'Anime/Fantasy' 'Anime/Science fiction' 'Anthology/Dark comedy'
 'Biographical/Comedy' 'Biopic' 'Black comedy' 'Christian musical'
 'Christmas comedy' 'Christmas/Fantasy/Adventure/Comedy' 'Comedy'
 'Comedy / Musical' 'Comedy horror' 'Comedy mystery' 'Comedy-drama'
 'Comedy/Fantasy/Family' 'Comedy/Horror' 'Coming-of-age comedy-drama'
 'Concert Film' 'Crime drama' 'Crime thriller' 'Dance comedy'
 'Dark comedy' 'Documentary' 'Drama' 'Drama-Comedy' 'Drama/Horror'
 'Family' 'Family film' 'Family/Christmas musical' 'Family/Comedy-drama'
 'Heist' 'Heist film/Thriller' 'Hidden-camera prank comedy'
 'Historical drama' 'Historical-epic' 'Horror' 'Horror anthology'
 'Horror comedy' 'Horror thriller' 'Horror-thriller' 'Horror/Crime drama'
 'Mentalism special' 'Mockumentary' 'Musical' 'Musical comedy'
 'Musical/Western/Fantasy' 'Mystery' 'One-man show' 'Political thriller'
 'Psychological horror' 'Psychological thriller'
 'Psychological thriller drama' 'Romance' 'Romance drama'
 'Romantic comedy' 'Romantic comedy/Holiday' 'Romantic drama'
 'Romantic teen drama' 'Romantic teenage drama' 'Romantic thriller'
 'Satire' 'Science fiction' 'Science fiction adventure'
 'Science fiction thriller' 'Science fiction/Action'
 'Science fiction/Drama' 'Science fiction/Mystery'
 'Science fiction/Thriller' 'Sports film' 'Sports-drama' 'Spy thriller'
 'Stop Motion' 'Superhero' 'Superhero-Comedy' 'Superhero/Action'
 'Teen comedy horror' 'Teen comedy-drama' 'Thriller' 'Urban fantasy'
 'Variety show' 'War' 'War drama' 'War-Comedy' 'Western' 'Zombie/Heist']

--------------

PREMIERE
['April 1, 2021' 'April 10, 2020' 'April 12, 2019' 'April 13, 2018'
 'April 14, 2017' 'April 14, 2021' 'April 15, 2021' 'April 16, 2021'
 'April 17, 2020' 'April 19, 2019' 'April 2, 2020' 'April 2, 2021'
 'April 20, 2018' 'April 20, 2019' 'April 21, 2017' 'April 22, 2020'
 'April 23, 2020' 'April 24, 2020' 'April 26, 2019' 'April 27, 2018'
 'April 28, 2017' 'April 28, 2021' 'April 29, 2016' 'April 29, 2020'
 'April 29, 2021' 'April 3, 2020' 'April 30, 2020' 'April 30, 2021'
 'April 5, 2019' 'April 6, 2018' 'April 7, 2017' 'April 7, 2021'
 'April 9, 2021' 'August 10, 2018' 'August 11, 2017' 'August 12, 2020'
 'August 14, 2020' 'August 16, 2019' 'August 17, 2020' 'August 19, 2016'
 'August 2, 2019' 'August 20, 2020' 'August 21, 2019' 'August 21, 2020'
 'August 24, 2018' 'August 25, 2017' 'August 26, 2016' 'August 26, 2020'
 'August 28, 2019' 'August 28, 2020' 'August 29, 2019' 'August 3, 2018'
 'August 30, 2019' 'August 4, 2017' 'August 5, 2019' 'August 5, 2020'
 'August 7, 2020' 'August 9, 2019' 'December 1, 2019' 'December 1, 2020'
 'December 11, 2015' 'December 11, 2020' 'December 12, 2018'
 'December 13, 2014' 'December 13, 2019' 'December 14, 2020'
 'December 15, 2017' 'December 16, 2016' 'December 16, 2018'
 'December 18, 2020' 'December 19, 2019' 'December 20, 2019'
 'December 21, 2018' 'December 22, 2017' 'December 23, 2020'
 'December 24, 2020' 'December 25, 2020' 'December 26, 2019'
 'December 27, 2020' 'December 28, 2020' 'December 3, 2020'
 'December 4, 2015' 'December 4, 2020' 'December 5, 2019'
 'December 6, 2019' 'December 7, 2018' 'December 8, 2017'
 'December 9, 2016' 'December 9, 2020' 'February 1, 2019'
 'February 10, 2021' 'February 11, 2021' 'February 12, 2019'
 'February 12, 2020' 'February 14, 2017' 'February 14, 2020'
 'February 16, 2018' 'February 21, 2020' 'February 22, 2019'
 'February 23, 2018' 'February 24, 2017' 'February 25, 2021'
 'February 26, 2021' 'February 3, 2017' 'February 4, 2018'
 'February 5, 2021' 'February 7, 2020' 'February 8, 2019'
 'February 9, 2018' 'January 1, 2020' 'January 1, 2021' 'January 11, 2019'
 'January 11, 2021' 'January 12, 2018' 'January 13, 2017'
 'January 14, 2021' 'January 15, 2021' 'January 17, 2020'
 'January 18, 2019' 'January 19, 2018' 'January 20, 2017'
 'January 22, 2021' 'January 23, 2020' 'January 25, 2019'
 'January 26, 2018' 'January 28, 2021' 'January 29, 2021'
 'January 31, 2020' 'January 4, 2019' 'January 6, 2017' 'January 6, 2021'
 'January 7, 2021' 'January 8, 2021' 'July 1, 2020' 'July 10, 2020'
 'July 12, 2019' 'July 13, 2018' 'July 14, 2017' 'July 14, 2020'
 'July 15, 2016' 'July 15, 2020' 'July 15. 2016' 'July 16, 2020'
 'July 17, 2015' 'July 17, 2020' 'July 18, 2019' 'July 20, 2018'
 'July 23, 2020' 'July 24, 2019' 'July 24, 2020' 'July 27, 2018'
 'July 28, 2017' 'July 29, 2016' 'July 29, 2020' 'July 3, 2020'
 'July 31, 2019' 'July 31, 2020' 'July 6, 2018' 'July 7, 2016'
 'July 8, 2020' 'June 12, 2020' 'June 14, 2019' 'June 15, 2018'
 'June 18, 2020' 'June 19, 2019' 'June 19, 2020' 'June 23, 2017'
 'June 24, 2016' 'June 24, 2018' 'June 24, 2020' 'June 26, 2015'
 'June 26, 2020' 'June 28, 2017' 'June 29, 2018' 'June 3, 2020'
 'June 5, 2020' 'June 7, 2019' 'June 8, 2018' 'June 9, 2017'
 'March 1, 2021' 'March 10, 2017' 'March 12, 2021' 'March 13, 2019'
 'March 13, 2020' 'March 16, 2018' 'March 17, 2017' 'March 18, 2016'
 'March 18, 2021' 'March 19, 2020' 'March 20, 2020' 'March 21, 2019'
 'March 22, 2019' 'March 23, 2018' 'March 24, 2017' 'March 24, 2021'
 'March 25, 2020' 'March 25, 2021' 'March 26, 2021' 'March 27, 2020'
 'March 29, 2019' 'March 3, 2021' 'March 30, 2018' 'March 31, 2017'
 'March 5, 2021' 'March 6, 2020' 'March 8, 2018' 'March 8, 2019'
 'March 8, 2020' 'March 9, 2018' 'May 1, 2018' 'May 1, 2020'
 'May 10, 2019' 'May 11, 2018' 'May 11, 2020' 'May 12, 2017'
 'May 12, 2021' 'May 13, 2020' 'May 14, 2021' 'May 16, 2019'
 'May 17, 2019' 'May 18, 2018' 'May 18, 2021' 'May 19, 2017'
 'May 21, 2021' 'May 22, 2015' 'May 22, 2019' 'May 22, 2020'
 'May 23, 2019' 'May 24, 2019' 'May 25, 2018' 'May 26, 2017'
 'May 26, 2021' 'May 27, 2016' 'May 27, 2020' 'May 27, 2021'
 'May 28, 2020' 'May 29, 2015' 'May 3, 2019' 'May 31, 2019' 'May 4, 2018'
 'May 5, 2017' 'May 6, 2020' 'May 7, 2021' 'November 1, 2019'
 'November 10, 2017' 'November 11, 2016' 'November 11, 2020'
 'November 12, 2020' 'November 13, 2018' 'November 13, 2020'
 'November 15, 2019' 'November 16, 2018' 'November 17, 2017'
 'November 19, 2020' 'November 2, 2018' 'November 20, 2019'
 'November 20, 2020' 'November 21, 2017' 'November 21, 2019'
 'November 22, 2016' 'November 22, 2018' 'November 23, 2020'
 'November 24, 2017' 'November 24, 2020' 'November 25, 2020'
 'November 27, 2019' 'November 27, 2020' 'November 28, 2019'
 'November 30, 2018' 'November 30, 2020' 'November 4, 2016'
 'November 5, 2020' 'November 6, 2020' 'November 8, 2019'
 'November 9, 2018' 'October 1, 2020' 'October 10, 2018'
 'October 11, 2019' 'October 12, 2017' 'October 12, 2018'
 'October 12, 2019' 'October 13, 2016' 'October 13, 2017'
 'October 13, 2020' 'October 14, 2016' 'October 14, 2020'
 'October 15, 2020' 'October 16, 2015' 'October 16, 2020'
 'October 16. 2019' 'October 18, 2019' 'October 19, 2018'
 'October 2, 2020' 'October 20, 2017' 'October 21, 2020'
 'October 22, 2020' 'October 23, 2019' 'October 23, 2020'
 'October 25, 2019' 'October 26, 2018' 'October 27, 2020'
 'October 27. 2017' 'October 28, 2016' 'October 28, 2019'
 'October 28, 2020' 'October 30, 2020' 'October 4, 2019' 'October 4, 2020'
 'October 5, 2018' 'October 6, 2017' 'October 7, 2016' 'October 7, 2020'
 'October 9, 2015' 'October 9, 2020' 'September 1, 2017'
 'September 10, 2019' 'September 10, 2020' 'September 11, 2020'
 'September 12, 2017' 'September 12, 2018' 'September 13, 2016'
 'September 13, 2018' 'September 13, 2019' 'September 14, 2018'
 'September 15, 2017' 'September 15, 2019' 'September 15, 2020'
 'September 15. 2017' 'September 16, 2016' 'September 16, 2020'
 'September 16. 2016' 'September 17, 2020' 'September 18, 2015'
 'September 18, 2020' 'September 20, 2019' 'September 21, 2018'
 'September 21, 2020' 'September 22, 2017' 'September 23, 2016'
 'September 25, 2019' 'September 27, 2019' 'September 28, 2018'
 'September 29, 2017' 'September 3, 2020' 'September 30, 2016'
 'September 30, 2020' 'September 4, 2020' 'September 7, 2018'
 'September 7, 2020' 'September 9, 2020']

--------------

RUNTIME
[  4   7   9  10  11  12  15  16  17  19  21  23  24  25  26  27  28  30
  31  32  34  37  39  40  41  42  45  47  48  49  51  52  53  55  56  58
  60  63  64  70  71  72  73  74  75  76  78  79  80  81  82  83  84  85
  86  87  88  89  90  91  92  93  94  95  96  97  98  99 100 101 102 103
 104 105 106 107 108 109 110 111 112 113 114 115 116 117 118 119 120 121
 122 123 124 125 126 128 129 130 131 132 134 136 139 140 142 144 147 148
 149 151 153 155 209]

--------------

IMDB SCORE
[2.5 2.6 3.2 3.4 3.5 3.7 3.9 4.1 4.2 4.3 4.4 4.5 4.6 4.7 4.8 4.9 5.  5.1
 5.2 5.3 5.4 5.5 5.6 5.7 5.8 5.9 6.  6.1 6.2 6.3 6.4 6.5 6.6 6.7 6.8 6.9
 7.  7.1 7.2 7.3 7.4 7.5 7.6 7.7 7.8 7.9 8.1 8.2 8.3 8.4 8.5 9. ]

--------------

LANGUAGE
['Bengali' 'Dutch' 'English' 'English/Akan' 'English/Arabic'
 'English/Hindi' 'English/Japanese' 'English/Korean' 'English/Mandarin'
 'English/Russian' 'English/Spanish' 'English/Swedish'
 'English/Taiwanese/Mandarin' 'English/Ukranian/Russian' 'Filipino'

In [201]:
for column in netflix_original.select_dtypes("object").columns:
    print("\n--------------\n")
    print(column.upper())
    print(netflix_original[column].value_counts())

--------------

TITLE
Title
David Attenborough: A Life on Our Planet    1
The Irishman                                1
If Anything Happens I Love You              1
Crip Camp: A Disability Revolution          1
Beasts of No Nation                         1
                                           ..
Drive                                       1
Kaali Khuhi                                 1
The Open House                              1
The App                                     1
Dark Forces                                 1
Name: count, Length: 513, dtype: int64

--------------

GENRE
Genre
Documentary                             132
Drama                                    73
Comedy                                   42
Romantic comedy                          35
Thriller                                 33
                                       ...
Action-adventure                          1
Concert Film                              1
Animation / Science Fiction               1
Anthology/Dark comedy                     1
Animation/Christmas/Comedy/Adventure      1
Name: count, Length: 106, dtype: int64

--------------

PREMIERE
Premiere
October 18, 2019     5
October 2, 2020      5
November 1, 2019     5
April 10, 2020       4
October 30, 2020     4
                    ..
May 12, 2017         1
October 23, 2019     1
October 9, 2015      1
December 16, 2018    1
October 4, 2020      1
Name: count, Length: 350, dtype: int64

--------------

LANGUAGE
Language
English                       352
Hindi                          28
Spanish                        26
French                         18
Italian                        14
Portuguese                      9
Indonesian                      9
Japanese                        5
English/Spanish                 5
Korean                          5
Turkish                         4
German                          4
Marathi                         3
Polish                          3
English/Japanese                2
Dutch                           2
Filipino                        2
Thai                            2
English/Hindi                   2
Norwegian                       1
Malay                           1
Swedish                         1
Spanish/Basque                  1
English/Swedish                 1
Spanish/Catalan                 1
English/Taiwanese/Mandarin      1
Thia/English                    1
Bengali                         1
Khmer/English/French            1
Tamil                           1
Spanish/English                 1
English/Korean                  1
English/Arabic                  1
English/Mandarin                1
English/Russian                 1
English/Akan                    1
English/Ukranian/Russian        1
Name: count, dtype: int64

In [202]:
for column in netflix_titles.columns:
    print("\n--------------\n")
    print(column.upper())
    print(netflix_titles[column].unique())

--------------

TYPE
['Movie' 'TV Show']

--------------

TITLE
['Dick Johnson Is Dead' 'Blood & Water' 'Ganglands' ... 'Zombieland'
 'Zoom' 'Zubaan']

--------------

DIRECTOR
['Kirsten Johnson' nan 'Julien Leclercq' ... 'Majid Al Ansari'
 'Peter Hewitt' 'Mozez Singh']

--------------

CAST
[nan
 'Ama Qamata, Khosi Ngema, Gail Mabalane, Thabang Molaba, Dillon Windvogel, Natasha Thahane, Arno Greeff, Xolile Tshabalala, Getmore Sithole, Cindy Mahlangu, Ryle De Morny, Greteli Fincham, Sello Maake Ka-Ncube, Odwa Gwanya, Mekaila Mathys, Sandi Schultz, Duane Williams, Shamilla Miller, Patrick Mofokeng'
 'Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabiha Akkari, Sofia Lesaffre, Salim Kechiouche, Noureddine Farihi, Geert Van Rampelberg, Bakary Diombera'
 ...
 'Jesse Eisenberg, Woody Harrelson, Emma Stone, Abigail Breslin, Amber Heard, Bill Murray, Derek Graf'
 'Tim Allen, Courteney Cox, Chevy Chase, Kate Mara, Ryan Newman, Michael Cassidy, Spencer Breslin, Rip Torn, Kevin Zegers'
 'Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanana, Manish Chaudhary, Meghna Malik, Malkeet Rauni, Anita Shabdish, Chittaranjan Tripathy']

--------------

COUNTRY
['United States' 'South Africa' nan 'India'
 'United States, Ghana, Burkina Faso, United Kingdom, Germany, Ethiopia'
 'United Kingdom' 'Germany, Czech Republic' 'Mexico' 'Turkey' 'Australia'
 'United States, India, France' 'Finland' 'China, Canada, United States'
 'South Africa, United States, Japan' 'Nigeria' 'Japan'
 'Spain, United States' 'France' 'Belgium' 'United Kingdom, United States'
 'United States, United Kingdom' 'France, United States' 'South Korea'
 'Spain' 'United States, Singapore' 'United Kingdom, Australia, France'
 'United Kingdom, Australia, France, United States'
 'United States, Canada' 'Germany, United States'
 'South Africa, United States' 'United States, Mexico'
 'United States, Italy, France, Japan'
 'United States, Italy, Romania, United Kingdom'
 'Australia, United States' 'Argentina, Venezuela'
 'United States, United Kingdom, Canada' 'China, Hong Kong' 'Russia'
 'Canada' 'Hong Kong' 'United States, China, Hong Kong'
 'Italy, United States' 'United States, Germany'
 'United Kingdom, Canada, United States' ', South Korea' 'Ireland'
 'India, Nepal' 'New Zealand, Australia, France, United States' 'Italy'
 'Italy, Brazil, Greece' 'Argentina' 'Jordan' 'Colombia'
 'United States, Japan' 'Belgium, United Kingdom'
 'Switzerland, United Kingdom, Australia' 'Israel, United States'
 'Canada, United States' 'Brazil' 'Argentina, Spain' 'Taiwan'
 'United States, Nigeria' 'Bulgaria, United States'
 'Spain, United Kingdom, United States' 'United States, China'
 'United States, France' 'Spain, France, United Kingdom, United States'
 ', France, Algeria' 'Poland' 'Germany'
 'France, Israel, Germany, United States, United Kingdom' 'New Zealand'
 'Saudi Arabia' 'Thailand' 'Indonesia' 'Egypt, Denmark, Germany'
 'United States, Switzerland' 'Hong Kong, Canada, United States'
 'Kuwait, United States' 'France, Canada, United States, Spain'
 'France, Netherlands, Singapore' 'France, Belgium'
 'Ireland, United States, United Kingdom' 'Egypt' 'Malaysia' 'Israel'
 'Australia, New Zealand' 'United Kingdom, Germany' 'Belgium, Netherlands'
 'South Korea, Czech Republic' 'Australia, Germany' 'Vietnam'
 'United Kingdom, Belgium' 'United Kingdom, Australia, United States'
 'France, Japan, United States'
 'United Kingdom, Germany, Spain, United States'
 'United Kingdom, United States, France, Italy'
 'United States, Germany, Canada'
 'United States, France, Italy, United Kingdom'
 'United States, United Kingdom, Germany, Hungary'
 'United States, New Zealand' 'Sweden' 'China' 'Lebanon' 'Romania'
 'Finland, Germany' 'Lebanon, Syria' 'Philippines' 'Iceland' 'Denmark'
 'United States, India' 'Philippines, Singapore, Indonesia'
 'China, United States, Canada' 'Lebanon, United Arab Emirates'
 'Canada, United States, Denmark' 'United Arab Emirates'
 'Mexico, France, Colombia' 'Netherlands' 'Germany, United States, France'
 'United States, Bulgaria'
 'United Kingdom, France, Germany, United States' 'Norway, Denmark'
 'Syria, France, Lebanon, Qatar' 'United States, Czech Republic'
 'Mauritius' 'Canada, South Africa' 'Austria' 'Mexico, Brazil'
 'Germany, France' 'Mexico, United States'
 'United Kingdom, France, Spain, United States' 'United States, Australia'
 'United States, United Kingdom, France' 'United States, Russia'
 'United States, United Kingdom, New Zealand' 'Australia, United Kingdom'
 'Canada, Nigeria, United States'
 'France, United States, United Kingdom, Canada' 'France, United Kingdom'
 'India, United Kingdom' 'Canada, United States, Mexico'
 'United Kingdom, Germany, United States'
 'Czech Republic, United Kingdom, United States' 'China, United Kingdom'
 'Italy, United Kingdom' 'China, Taiwan'
 'United States, Brazil, Japan, Spain, India'
 'United States, China, United Kingdom' 'Cameroon'
 'Lebanon, Palestine, Denmark, Qatar' 'Japan, United States'
 'Uruguay, Germany' 'Egypt, Saudi Arabia'
 'United Kingdom, France, Poland, Germany, United States'
 'Ireland, Switzerland, United Kingdom, France, United States'
 'United Kingdom, South Africa, France'
 'Ireland, United Kingdom, France, Germany' 'Russia, United States'
 'United Kingdom, United States, France' 'United Kingdom,'
 'United States, India, United Kingdom' 'Kenya' 'Spain, Argentina'
 'India, United Kingdom, France, Qatar' 'Belgium, France'
 'Argentina, Chile' 'United States, Thailand' 'Chile, Brazil'
 'United States, Colombia' 'Canada, United States, United Kingdom'
 'Uruguay' 'Luxembourg' 'United States, Cambodia, Romania' 'Bangladesh'
 'Spain, Belgium, United States'
 'United Kingdom, United States, Australia'
 'Canada, United States, France' 'Portugal, United States'
 'Portugal, Spain' 'India, United States' 'United Kingdom, Ireland'
 'United Kingdom, Spain, United States' 'Hungary, United States'
 'United States, South Korea' 'Canada, United States, Cayman Islands'
 'India, France' 'France, Canada' 'Canada, Hungary, United States'
 'Norway' 'Canada, United Kingdom, United States'
 'United Kingdom, Germany, France, United States' 'Denmark, United States'
 'Senegal' 'France, Algeria'
 'United Kingdom, Finland, Germany, United States, Australia, Japan, France, Ireland'
 'Philippines, Canada, United Kingdom, United States'
 'Ireland, France, Iceland, United States, Mexico, Belgium, United Kingdom, Hong Kong'
 'Singapore' 'Kuwait' 'United States, France, Serbia'
 'United States, Italy' 'Spain, Italy'
 'United States, Ireland, United Kingdom, India'
 'United Kingdom, Singapore' 'Hong Kong, United States'
 'United States, Malta, France, United Kingdom'
 'United States, China, Canada' 'Canada, United States, Ireland'
 'Lebanon, Canada, France' 'Japan, Canada, United States'
 'Spain, France, Canada' 'Denmark, Singapore, Canada, United States'
 'United States, France, Denmark' 'United States, China, Colombia'
 'Spain, Thailand, United States' 'Mexico, Spain'
 'Ireland, Luxembourg, Belgium' 'China, United States' 'Canada, Belgium'
 'Canada, United Kingdom'
 'Lebanon, United Arab Emirates, France, Switzerland, Germany'
 'France, Belgium, Italy' 'Lebanon, United States, United Arab Emirates'
 'Lebanon, France' 'France, Lebanon' 'France, Lebanon, United Kingdom'
 'France, Norway, Lebanon, Belgium'
 'Sweden, Czech Republic, United Kingdom, Denmark, Netherlands'
 'United States, United Kingdom, India' 'Indonesia, Netherlands'
 'Turkey, South Korea' 'Serbia, United States' 'Namibia'
 'United Kingdom, Kenya' 'United Kingdom, France, Germany, Spain'
 'United Kingdom, France, United States, Belgium, Luxembourg, China, Germany'
 'Thailand, United States' 'United States, France, Canada, Belgium'
 'United Kingdom, China' 'Germany, China, United Kingdom'
 'Australia, New Zealand, United States'
 'Hong Kong, Iceland, United States' 'France, Australia, Germany'
 'United States, Belgium, Canada, France' 'South Africa, Angola'
 'United States, Philippines'
 'United States, United Kingdom, Canada, China'
 'United States, Canada, United Kingdom' 'Turkey, United States'
 'Peru, Germany, Norway' 'Mozambique' 'Brazil, France'
 'China, Spain, South Korea, United States' 'Spain, Germany'
 'Hong Kong, China' 'France, Belgium, Luxembourg, Cambodia,'
 'United Kingdom, Australia' 'Belarus' 'Indonesia, United Kingdom'
 'Switzerland, France, Belgium, United States' 'Ghana'
 'Spain, France, Canada, United States' 'Chile, Italy'
 'United Kingdom, Nigeria' 'Chile' 'France, Egypt' 'Egypt, France'
 'France, Brazil, Spain, Belgium' 'Egypt, Algeria'
 'Canada, South Korea, United States' 'Nigeria, United Kingdom'
 'United States, France, Canada' 'Poland, United States'
 'United Arab Emirates, Jordan, Lebanon, Saudi Arabia'
 'United States, Mexico, Spain, Malta'
 'Saudi Arabia, United Arab Emirates' 'Zimbabwe'
 'United Kingdom, Germany, United Arab Emirates, New Zealand'
 'Romania, United States' 'Canada, Nigeria'
 'Saudi Arabia, Netherlands, Germany, Jordan, United Arab Emirates, United States'
 'United Kingdom, Spain' 'Finland, France'
 'United Kingdom, Germany, United States, France'
 'India, United Kingdom, China, Canada, Japan, South Korea, United States'
 'Italy, United Kingdom, France' 'United States, Mexico, Colombia'
 'Turkey, India' 'Italy, Turkey' 'United Kingdom, United States, Japan'
 'France, Belgium, United States' 'Puerto Rico, United States, Colombia'
 'Uruguay, Argentina' 'United States, United Kingdom, Japan'
 'United States, Argentina' 'United Kingdom, Italy'
 'Ireland, United Kingdom'
 'United Kingdom, France, Belgium, Canada, United States'
 'Netherlands, Germany, Denmark, United Kingdom' 'Hungary'
 'Austria, Germany' 'Taiwan, China'
 'United Kingdom, United States, Ireland' 'South Korea, United States'
 'Brazil, United Kingdom' 'Pakistan, United States'
 'Romania, France, Switzerland, Germany' 'Romania, United Kingdom'
 'France, Malta, United States' 'Cyprus'
 'United Kingdom, France, Belgium, Ireland, United States'
 'United States, Norway, Canada' 'Kenya, United States'
 'France, South Korea, Japan, United States' 'Taiwan, Malaysia'
 'Uruguay, Argentina, Germany, Spain'
 'United States, United Kingdom, France, Germany, Japan'
 'United States, France, Japan' 'United Kingdom, France, United States'
 'Spain, France, United States' 'Indonesia, South Korea, Singapore'
 'United States, Spain' 'Netherlands, Germany, Italy, Canada'
 'Spain, Germany, Denmark, United States' 'Norway, Sweden'
 'South Korea, Canada, United States, China' 'Argentina, Uruguay, Serbia'
 'France, Japan' 'Mauritius, South Africa' 'United States, Poland'
 'United Kingdom, United States, Germany, Denmark, Belgium, Japan'
 'India, Germany' 'India, United Kingdom, Canada, United States'
 'Philippines, United States' 'Romania, Bulgaria, Hungary'
 'Uruguay, Guatemala' 'France, Senegal, Belgium' 'United Kingdom, Canada'
 'Mexico, United States, Spain, Colombia' 'Canada, Norway'
 'Singapore, United States' 'Finland, Germany, Belgium'
 'United Kingdom, France' 'United States, Chile'
 'United Kingdom, Japan, United States' 'Spain, United Kingdom'
 'Argentina, United States, Mexico' 'United States, South Korea, Japan'
 'Canada, Australia' 'United Kingdom, Hungary, Australia' 'Italy, Belgium'
 'United States, United Kingdom, Germany' 'Switzerland'
 'Singapore, Malaysia'
 'France, Belgium, Luxembourg, Romania, Canada, United States'
 'South Africa, Nigeria' 'Spain, France' 'United Kingdom, Hong Kong'
 'Pakistan' 'Brazil, United States'
 'Denmark, Brazil, France, Portugal, Sweden' 'India, Turkey'
 'Malaysia, Singapore, Hong Kong' 'Philippines, Singapore'
 'Australia, Canada' 'Taiwan, China, France, United States'
 'Germany, Italy' 'Colombia, Peru, United Kingdom'
 'Thailand, China, United States' 'Argentina, United States'
 'Sweden, United States' 'Uruguay, Spain, Mexico'
 'France, Luxembourg, Canada' 'Denmark, Spain' 'Chile, Argentina'
 'United Kingdom, Belgium, Sweden' 'Canada, Brazil' 'Italy, France'
 'Canada, Germany' 'Pakistan, United Arab Emirates' 'Ghana, United States'
 'Mexico, Finland' 'United Arab Emirates, United Kingdom, India'
 'Netherlands, Belgium' 'United States, Taiwan'
 'Austria, Iraq, United States' 'United Kingdom, Malawi'
 'Paraguay, Argentina' 'United Kingdom, Russia, United States'
 'India, Pakistan' 'Indonesia, Singapore' 'Spain, Belgium'
 'Iceland, Sweden, Belgium' 'Croatia' 'Uruguay, Argentina, Spain'
 'United Kingdom, Ireland, United States'
 'Canada, Germany, France, United States' 'United Kingdom, Japan'
 'Norway, Denmark, Netherlands, Sweden' 'Hong Kong, China, United States'
 'Ireland, Canada' 'Italy, Switzerland, France, Germany'
 'Mexico, Netherlands' 'United States, Sweden' 'Germany, France, Russia'
 'France, Iran, United States' 'United Kingdom, India'
 'Russia, Poland, Serbia' 'Spain, Portugal' 'Peru' 'Mexico, Argentina'
 'United Kingdom, Canada, United States, Cayman Islands'
 'Indonesia, United States'
 'United States, Israel, United Kingdom, Canada'
 'Norway, Iceland, United States' 'Czech Republic, United States'
 'United Kingdom, India, United States' 'United Kingdom, West Germany'
 'India, Australia' 'United States,'
 'Belgium, United Kingdom, United States' 'India, Germany, Austria'
 'United States, Brazil, South Korea, Mexico, Japan, Germany'
 'Spain, Mexico' 'China, Japan' 'Argentina, France'
 'China, United States, United Kingdom'
 'France, Luxembourg, United States' 'China, United States, Australia'
 'Colombia, Mexico' 'United States, Canada, Ireland' 'Chile, Peru'
 'Argentina, Italy' 'Canada, Japan, United States'
 'United Kingdom, Canada, United States, Germany'
 'Italy, Switzerland, Albania, Poland' 'United States, Japan, Canada'
 'Cambodia' 'Italy, United States, Argentina'
 'Saudi Arabia, Syria, Egypt, Lebanon, Kuwait'
 'United States, Canada, Indonesia, United Kingdom, China, Singapore'
 'Spain, Colombia'
 'United Kingdom, South Africa, Australia, United States' 'Bulgaria'
 'Argentina, Brazil, France, Poland, Germany, Denmark'
 'United Kingdom, Spain, United States, Germany' 'Philippines, Qatar'
 'Netherlands, Belgium, Germany, Jordan'
 'United Arab Emirates, United States' 'Norway, Germany, Sweden'
 'South Korea, China' 'Georgia' 'Soviet Union, India'
 'Australia, United Arab Emirates' 'Canada, Germany, South Africa'
 'South Korea, China, United States' 'India, Soviet Union' 'India, Mexico'
 'Georgia, Germany, France' 'United Arab Emirates, Romania'
 'India, Malaysia' 'Germany, Jordan, Netherlands'
 'Turkey, France, Germany, Poland' 'Greece, United States'
 'France, United Kingdom, United States' 'Norway, Germany'
 'France, Morocco' 'Cambodia, United States' 'United States, Denmark'
 'United States, Colombia, Mexico'
 'United Kingdom, Italy, Israel, Peru, United States'
 'Argentina, Uruguay, Spain, France'
 'United Kingdom, France, United States, Belgium'
 'France, Canada, China, Cambodia'
 'United Kingdom, France, Belgium, United States' 'Chile, France'
 'Netherlands, United States' 'France, United Kingdom, India'
 'Czech Republic, Slovakia' 'Singapore, France' 'Spain, Switzerland'
 'United States, Australia, China' 'South Africa, United States, Germany'
 'United States, United Kingdom, Australia' 'Spain, Italy, Argentina'
 'Chile, Spain, Argentina, Germany' 'West Germany'
 'Austria, Czech Republic' 'Lebanon, Qatar'
 'United Kingdom, Jordan, Qatar, Iran' 'France, South Korea, Japan'
 'Israel, Germany, France' 'Canada, Japan, Netherlands'
 'United States, Hungary' 'France, Germany' 'France, Qatar'
 'United Kingdom, Germany, Canada' 'Ireland, South Africa'
 'Chile, United States, France' 'Belgium, France, Netherlands'
 'United Kingdom, Ukraine, United States'
 'Germany, Australia, France, China' 'Norway, United States'
 'United States, Bermuda, Ecuador'
 'United States, Hungary, Ireland, Canada'
 'United Kingdom, Egypt, United States'
 'United States, France, United Kingdom' 'Spain, Mexico, France'
 'United States, South Africa' 'Hong Kong, China, Singapore'
 'South Africa, China, United States' 'Denmark, France, Poland'
 'New Zealand, United Kingdom' 'Netherlands, Denmark, South Africa'
 'Iran, France' 'United Kingdom, United States, France, Germany'
 'Australia, France' 'Ireland, United Kingdom, United States'
 'United Kingdom, France, Germany' 'Canada, Luxembourg'
 'Brazil, Netherlands, United States, Colombia, Austria, Germany'
 'France, Canada, Belgium' 'Canada, France'
 'Bulgaria, United States, Spain, Canada' 'Sweden, Netherlands'
 'France, United States, Mexico'
 'Australia, United Kingdom, United Arab Emirates, Canada'
 'Australia, Armenia, Japan, Jordan, Mexico, Mongolia, New Zealand, Philippines, South Africa, Sweden, United States, Uruguay'
 'India, Iran' 'France, Belgium, Spain'
 'Denmark, Sweden, Israel, United States' 'United States, Iceland'
 'United Kingdom, Russia' 'United States, Israel, Italy, South Africa'
 'Netherlands, Denmark, France, Germany' 'South Korea, Japan'
 'United Kingdom, Pakistan' 'France, New Zealand'
 'United Kingdom, Czech Republic, United States, Germany, Bahamas'
 'China, Germany, India, United States' 'Germany, Sri Lanka'
 'United States, India, Bangladesh' 'United States, Canada, France'
 'Brazil, France, Germany' 'Germany, United States, Hong Kong, Singapore'
 'France, Germany, Switzerland'
 'Germany, France, Luxembourg, United Kingdom, United States'
 'United Kingdom, Canada, Italy' 'Czech Republic, France'
 'Taiwan, Hong Kong, United States, China' 'Germany, Australia'
 'United Kingdom, Poland, United States' 'Denmark, Zimbabwe'
 'United Kingdom, South Africa' 'Finland, Sweden, Norway, Latvia, Germany'
 'South Africa, United States, New Zealand, Canada'
 'United States, Italy, United Kingdom, Liechtenstein'
 'Denmark, France, Belgium, Italy, Netherlands, United States, United Kingdom'
 'United States, Australia, Mexico'
 'United Kingdom, Czech Republic, Germany, United States'
 'France, China, Japan, United States' 'United States, South Korea, China'
 'Germany, Belgium' 'Pakistan, Norway, United States'
 'United States, Canada, Belgium, United Kingdom' 'Venezuela'
 'Canada, France, Italy, Morocco, United States' 'Canada, Spain, France'
 'United States, Indonesia' 'Spain, France, Italy'
 'United Arab Emirates, United States, United Kingdom'
 'United Kingdom, Israel, Russia' 'Spain, Cuba' 'United States, Brazil'
 'United States, France, Mexico' 'United States, Nicaragua'
 'United Kingdom, United States, Spain, Germany, Greece, Canada'
 'Italy, Canada, France' 'United Kingdom, Denmark, Canada, Croatia'
 'Italy, Germany' 'United States, France, United Kingdom, Japan'
 'United States, United Kingdom, Denmark, Sweden'
 'United States, United Kingdom, Italy'
 'United States, France, Canada, Spain' 'Russia, United States, China'
 'United States, Canada, Germany' 'Ireland, United States'
 'United States, United Arab Emirates' 'United States, Ireland'
 'Ireland, United Kingdom, Italy, United States' 'Poland,'
 'Slovenia, Croatia, Germany, Czech Republic, Qatar'
 'Canada, United Kingdom, Netherlands' 'United States, Spain, Germany'
 'India, Japan' 'China, South Korea, United States'
 'United Kingdom, France, Belgium' 'Canada, Ireland, United States'
 'United Kingdom, United States, Dominican Republic'
 'United States, Senegal' 'Germany, United Kingdom, United States'
 'South Africa, Germany, Netherlands, France'
 'Canada, United States, United Kingdom, France, Luxembourg'
 'Ireland, United States, France' 'Germany, United States, Canada'
 'United Kingdom, Germany, Canada, United States'
 'United States, France, Canada, Lebanon, Qatar'
 'Netherlands, Belgium, United Kingdom, United States'
 'France, Belgium, China, United States' 'United States, Chile, Israel'
 'United Kingdom, Norway, Denmark, Germany, Sweden'
 'Norway, Denmark, Sweden' 'China, India, Nepal'
 'Colombia, Mexico, United States' 'United Kingdom, South Korea'
 'Denmark, China' 'United States, Greece, Brazil' 'South Korea, France'
 'United States, Australia, Samoa, United Kingdom'

In [203]:
for column in netflix_titles.select_dtypes("object").columns:
    print("\n--------------\n")
    print(column.upper())
    print(netflix_titles[column].value_counts())

--------------

TYPE
type
Movie      6131
TV Show    2676
Name: count, dtype: int64

--------------

TITLE
title
Zubaan                                 1
Dick Johnson Is Dead                   1
Blood & Water                          1
Ganglands                              1
Jailbirds New Orleans                  1
                                      ..
Bangkok Breaking                       1
Vendetta: Truth, Lies and The Mafia    1
The Starling                           1
The Great British Baking Show          1
Sankofa                                1
Name: count, Length: 8807, dtype: int64

--------------

DIRECTOR
director
Rajiv Chilaka              19
Raúl Campos, Jan Suter     18
Suhas Kadav                16
Marcus Raboy               16
Jay Karas                  14
                           ..
James Brown                 1
Ivona Juka                  1
Mu Chu                      1
Chandra Prakash Dwivedi     1
Majid Al Ansari             1
Name: count, Length: 4528, dtype: int64

--------------

CAST
cast
David Attenborough                                                                                                                                             19
Vatsal Dubey, Julie Tejwani, Rupa Bhimani, Jigna Bhardwaj, Rajesh Kava, Mousam, Swapnil                                                                        14
Samuel West                                                                                                                                                    10
Jeff Dunham                                                                                                                                                     7
Michela Luci, Jamie Watson, Eric Peterson, Anna Claire Bartlam, Nicolas Aqui, Cory Doran, Julie Lemieux, Derek McGrath                                          6
                                                                                                                                                               ..
Ali Suliman, Saleh Bakri, Yasa, Ali Al-Jabri, Mansoor Alfeeli, Ahd                                                                                              1
Mark Ruffalo, Jake Gyllenhaal, Robert Downey Jr., Anthony Edwards, Brian Cox, Elias Koteas, Donal Logue, John Carroll Lynch, Dermot Mulroney, Chloë Sevigny     1
Jesse Eisenberg, Woody Harrelson, Emma Stone, Abigail Breslin, Amber Heard, Bill Murray, Derek Graf                                                             1
Tim Allen, Courteney Cox, Chevy Chase, Kate Mara, Ryan Newman, Michael Cassidy, Spencer Breslin, Rip Torn, Kevin Zegers                                         1
Logan Browning, Brandon P. Bell, DeRon Horton, Antoinette Robertson, John Patrick Amedori, Ashley Blaine Featherson, Marque Richardson, Giancarlo Esposito      1
Name: count, Length: 7692, dtype: int64

--------------

COUNTRY
country
United States                                    2818
India                                             972
United Kingdom                                    419
Japan                                             245
South Korea                                       199
                                                 ...
Russia, Spain                                       1
Croatia, Slovenia, Serbia, Montenegro               1
Japan, Canada                                       1
United States, France, South Korea, Indonesia       1
United Arab Emirates, Jordan                        1
Name: count, Length: 748, dtype: int64

--------------

DATE_ADDED
date_added
January 1, 2020       109
November 1, 2019       89
March 1, 2018          75
December 31, 2019      74
October 1, 2018        71
                     ...
February 2, 2017        1
September 11, 2019      1
May 17, 2015            1
June 5, 2018            1
October 14, 2017        1
Name: count, Length: 1767, dtype: int64

--------------

RATING
rating
TV-MA       3207
TV-14       2160
TV-PG        863
R            799
PG-13        490
TV-Y7        334
TV-Y         307
PG           287
TV-G         220
NR            80
G             41
TV-Y7-FV       6
NC-17          3
UR             3
74 min         1
84 min         1
66 min         1
Name: count, dtype: int64

--------------

DURATION
duration
2 Seasons    425
90 min       152
98 min       120
104 min      104
107 min       98
            ...
228 min        1
18 min         1
205 min        1
201 min        1
191 min        1
Name: count, Length: 185, dtype: int64

--------------

LISTED_IN
listed_in
Dramas, International Movies                        362
Documentaries                                       359
Stand-Up Comedy                                     334
Comedies, Dramas, International Movies              274
Dramas, Independent Movies, International Movies    252
                                                   ...
Action & Adventure, Cult Movies                       1
Action & Adventure, Comedies, Music & Musicals        1
Classic Movies, Horror Movies, Thrillers              1
Children & Family Movies, Classic Movies, Dramas      1
Cult Movies, Dramas, Thrillers                        1
Name: count, Length: 514, dtype: int64

--------------

DESCRIPTION
description
Paranormal activity at a lush, abandoned property alarms a group eager to redevelop the site, but the eerie events may not be as unearthly as they think.    4
A surly septuagenarian gets another chance at her 20s after having her photo snapped at a studio that magically takes 50 years off her life.                 3
Multiple women report their husbands as missing but when it appears they are looking for the same man, a police officer traces their cryptic connection.     3
Challenged to compose 100 songs before he can marry the girl he loves, a tortured but passionate singer-songwriter embarks on a poignant musical journey.    3
As a woman scours Hyderabad for her missing husband, she becomes entangled in a conspiracy that suggests there’s more to the mystery than meets the eye.     2
                                                                                                                                                            ..
A gifted young ballet dancer struggles to find her footing in an uptight ballet school that brings her and her family to a brand-new neighborhood.           1
After stepping in to revitalize his family's hotel, a money-minded businessman clashes with the hotel's cheery, Christmas-loving decorator.                  1
A soap opera producer, director and makeup artist each face wrenching family turmoil, from teen rebellion and marital infidelity to Alzheimer's.             1
Laida and Miggy think they've found perfect happiness with each other, until their burgeoning careers force them into a long-distance relationship.          1
A scrappy but poor boy worms his way into a tycoon's dysfunctional family, while facing his fear of music and the truth about his past.                      1
Name: count, Length: 8775, dtype: int64

- ¿Cuáles son los tipos de datos de cada columna? Nos puede ayudar a detectar si algún tipo de dato está incorrectamente asignado, como fechas almacenadas como cadenas de texto.

In [204]:
print(netflix_original.dtypes)

Title          object
Genre          object
Premiere       object
Runtime         int64
IMDB Score    float64
Language       object
dtype: object

In [205]:
print(netflix_titles.dtypes)

type            object
title           object
director        object
cast            object
country         object
date_added      object
release_year     int64
rating          object
duration        object
listed_in       object
description     object
dtype: object

- ¿Existen valores nulos? ¿En qué columnas están? Este paso es crucial para decidir si deben ser eliminados, rellenados o ignorados.

In [206]:
netflix_original.isnull().sum() #Las peliculas originales no tienen valores nulos con lo cual podemos trabajar bien con todos los

Title         0
Genre         0
Premiere      0
Runtime       0
IMDB Score    0
Language      0
dtype: int64

In [207]:
netflix_titles.isnull().sum() #Los titulos de Netflix tienen varios titulos con valores nulos, realizar estudios sobre esas variables puede no ser interesante

type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration        4813
listed_in          0
description        0
dtype: int64

- ¿Cuántos títulos únicos hay en cada conjunto de datos? Nos puede permitir verificar si existen títulos duplicados que puedan distorsionar el análisis.

In [208]:
print(f"La lista netflix_titles todos sus valores son unicos en Title:{netflix_titles["title"].is_unique}")
print(f"La lista netflix_original todos sus valores son unicos en Title:{netflix_original["Title"].is_unique}")

La lista netflix_titles todos sus valores son unicos en Title:True
La lista netflix_original todos sus valores son unicos en Title:True

### Parte 2: Unión de Datos

   - Deberás realizar la unión que consideres más apropiada entre `netflix_titles.csv` y `netflix_originals.csv`. Además, deberás justificar el tipo de unión que has realizado.

In [209]:
netflix_original.rename(columns={'Title': 'title'}, inplace=True)

df_originalcompleto= pd.merge(netflix_titles, netflix_original, on=["title"], how='inner')
df_originalcompleto

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Genre,Premiere,Runtime,IMDB Score,Language
0,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",Documentary,"October 2, 2020",90,7.5,English
1,Movie,Extraction,Steven C. Miller,"Bruce Willis, Kellan Lutz, Gina Carano, D.B. S...","United States, United Kingdom, Canada","September 1, 2021",2015,R,82 min,Action & Adventure,"When a retired CIA agent is kidnapped, his son...",Action,"April 24, 2020",117,6.7,English
2,Movie,Prime Time,Jakub Piątek,"Bartosz Bielenia, Magdalena Popławska, Andrzej...",NaN,"June 30, 2021",2021,TV-MA,NaN,"Dramas, International Movies, Thrillers","On New Year’s Eve 1999, an armed man enters a ...",Thriller,"April 14, 2021",91,5.7,Polish
3,Movie,Blue Miracle,Julio Quintana,"Jimmy Gonzales, Dennis Quaid, Anthony Gonzalez...",United States,"May 27, 2021",2021,TV-PG,NaN,"Children & Family Movies, Dramas, Faith & Spir...","To save their cash-strapped orphanage, a guard...",Drama,"May 27, 2021",95,6.7,English
4,Movie,Ghost Lab,Paween Purijitpanya,"Thanapob Leeratanakachorn, Paris Intarakomalya...",Thailand,"May 27, 2021",2021,TV-MA,118 min,"Horror Movies, International Movies, Thrillers","After witnessing a haunting in their hospital,...",Horror,"May 26, 2021",117,5.2,Thai
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
508,Movie,Tig,"Kristina Goolsby, Ashley York",Tig Notaro,United States,"July 17, 2015",2015,TV-14,NaN,"Documentaries, Stand-Up Comedy",Comedian Tig Notaro announced her cancer diagn...,Documentary,"July 17, 2015",80,7.4,English
509,Movie,"What Happened, Miss Simone?",Liz Garbus,NaN,United States,"June 26, 2015",2015,TV-14,NaN,"Documentaries, Music & Musicals","Using never-before-heard recordings, rare arch...",Documentary,"June 26, 2015",84,7.6,English
510,Movie,Hot Girls Wanted,"Jill Bauer, Ronna Gradus",NaN,United States,"May 29, 2015",2015,TV-MA,83 min,Documentaries,This 2015 Sundance Film Festival breakout docu...,Documentary,"May 29, 2015",84,6.1,English
511,Movie,The Other One: The Long Strange Trip of Bob Weir,Mike Fleiss,Bob Weir,United States,"May 22, 2015",2015,TV-14,84 min,"Documentaries, Music & Musicals",This chronicle of Bob Weir highlights his brot...,Documentary,"May 22, 2015",83,7.3,English
512,Movie,My Own Man,David Sampliner,David Sampliner,United States,"March 6, 2015",2015,TV-MA,82 min,Documentaries,When a man discovers he will be the father to ...,Documentary,"December 13, 2014",81,6.4,English

In [210]:
netflix_original.rename(columns={'Title': 'title'}, inplace=True)

df_originalcompleto= pd.merge(netflix_titles, netflix_original, on=["title"], how='inner')

df_unido= pd.merge(netflix_titles, netflix_original, on=["title"], how='outer')

df_unido.head()

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Genre,Premiere,Runtime,IMDB Score,Language
0,Movie,#Alive,Cho Il,"Yoo Ah-in, Park Shin-hye",South Korea,"September 8, 2020",2020,TV-MA,NaN,"Horror Movies, International Movies, Thrillers","As a grisly virus rampages a city, a lone man ...",NaN,NaN,NaN,NaN,NaN
1,Movie,#AnneFrank - Parallel Stories,"Sabina Fedeli, Anna Migotto","Helen Mirren, Gengher Gatti",Italy,"July 1, 2020",2019,TV-14,NaN,"Documentaries, International Movies","Through her diary, Anne Frank's story is retol...",NaN,NaN,NaN,NaN,NaN
2,Movie,#FriendButMarried,Rako Prijanto,"Adipati Dolken, Vanesha Prescilla, Rendi Jhon,...",Indonesia,"May 21, 2020",2018,TV-G,NaN,"Dramas, International Movies, Romantic Movies","Pining for his high school crush for years, a ...",NaN,NaN,NaN,NaN,NaN
3,Movie,#FriendButMarried 2,Rako Prijanto,"Adipati Dolken, Mawar de Jongh, Sari Nila, Von...",Indonesia,"June 28, 2020",2020,TV-G,104 min,"Dramas, International Movies, Romantic Movies",As Ayu and Ditto finally transition from best ...,NaN,NaN,NaN,NaN,NaN
4,Movie,#Roxy,Michael Kennedy,"Jake Short, Sarah Fisher, Booboo Stewart, Dann...",Canada,"April 10, 2019",2018,TV-14,NaN,"Comedies, Romantic Movies",A teenage hacker with a huge nose helps a cool...,NaN,NaN,NaN,NaN,NaN

In [211]:
df_unido.isnull().sum()

type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration        4813
listed_in          0
description        0
Genre           8294
Premiere        8294
Runtime         8294
IMDB Score      8294
Language        8294
dtype: int64

- ¿Cuántos títulos en `netflix_titles.csv` son producciones originales de Netflix?

In [212]:
print(netflix_original.shape)
print(netflix_titles.shape)
print(df_unido.shape) #le añadimos 5 columnas

(513, 6)
(8807, 11)
(8807, 16)

 - ¿Hay diferencias significativas en la puntuación de IMDB entre títulos originales y no originales?

In [213]:
#tenemos bastantes diferencias porque solo tenemos informacion de los titulos originales.

### Parte 3: Uso de `loc` e `iloc`

- Selecciona todas las filas donde el tipo de contenido sea “Movie”.

In [214]:
df_unido.loc[df_unido["type"]=="Movie"].head()

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Genre,Premiere,Runtime,IMDB Score,Language
0,Movie,#Alive,Cho Il,"Yoo Ah-in, Park Shin-hye",South Korea,"September 8, 2020",2020,TV-MA,NaN,"Horror Movies, International Movies, Thrillers","As a grisly virus rampages a city, a lone man ...",NaN,NaN,NaN,NaN,NaN
1,Movie,#AnneFrank - Parallel Stories,"Sabina Fedeli, Anna Migotto","Helen Mirren, Gengher Gatti",Italy,"July 1, 2020",2019,TV-14,NaN,"Documentaries, International Movies","Through her diary, Anne Frank's story is retol...",NaN,NaN,NaN,NaN,NaN
2,Movie,#FriendButMarried,Rako Prijanto,"Adipati Dolken, Vanesha Prescilla, Rendi Jhon,...",Indonesia,"May 21, 2020",2018,TV-G,NaN,"Dramas, International Movies, Romantic Movies","Pining for his high school crush for years, a ...",NaN,NaN,NaN,NaN,NaN
3,Movie,#FriendButMarried 2,Rako Prijanto,"Adipati Dolken, Mawar de Jongh, Sari Nila, Von...",Indonesia,"June 28, 2020",2020,TV-G,104 min,"Dramas, International Movies, Romantic Movies",As Ayu and Ditto finally transition from best ...,NaN,NaN,NaN,NaN,NaN
4,Movie,#Roxy,Michael Kennedy,"Jake Short, Sarah Fisher, Booboo Stewart, Dann...",Canada,"April 10, 2019",2018,TV-14,NaN,"Comedies, Romantic Movies",A teenage hacker with a huge nose helps a cool...,NaN,NaN,NaN,NaN,NaN

In [215]:
df_unido.loc[df_unido["type"]=="Movie"].shape

(6131, 16)

- Muestra solo los títulos (title) y la duración (duration) de todos los contenidos que sean de tipo “TV Show”.

In [216]:
df_unido.loc[df_unido["type"]=="TV Show",["title","duration","type"]]

                                    title   duration     type
8                                #blackAF        NaN  TV Show
14                               (Un)Well        NaN  TV Show
20                     100 Days My Prince        NaN  TV Show
22                             100 Humans        NaN  TV Show
27                            100% Hotter        NaN  TV Show
...                                   ...        ...      ...
8796                  แผนร้ายนายเจ้าเล่ห์        NaN  TV Show
8800  ​SAINT SEIYA: Knights of the Zodiac  2 Seasons  TV Show
8802                             忍者ハットリくん  2 Seasons  TV Show
8803                                 海的儿子        NaN  TV Show
8804                                 마녀사냥        NaN  TV Show

[2676 rows x 3 columns]

- Selecciona todas las filas donde el país sea “United States”.

In [217]:
df_unido.loc[df_unido["country"]=="United States"]

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Genre,Premiere,Runtime,IMDB Score,Language
5,Movie,#Rucker50,Robert McCullough Jr.,NaN,United States,"December 1, 2016",2016,TV-PG,56 min,"Documentaries, Sports Movies",This documentary celebrates the 50th anniversa...,NaN,NaN,NaN,NaN,NaN
8,TV Show,#blackAF,NaN,"Kenya Barris, Rashida Jones, Iman Benson, Genn...",United States,"April 17, 2020",2020,TV-MA,NaN,TV Comedies,Kenya Barris and his family navigate relations...,NaN,NaN,NaN,NaN,NaN
10,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,NaN,Comedies,When nerdy high schooler Dani finally attracts...,NaN,NaN,NaN,NaN,NaN
13,Movie,(T)ERROR,"Lyric R. Cabral, David Felix Sutcliffe",NaN,United States,"June 30, 2016",2015,NR,84 min,Documentaries,This real-life look at FBI counterterrorism op...,NaN,NaN,NaN,NaN,NaN
14,TV Show,(Un)Well,NaN,NaN,United States,"August 12, 2020",2020,TV-MA,NaN,Reality TV,This docuseries takes a deep dive into the luc...,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8770,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a...",NaN,NaN,NaN,NaN,NaN
8774,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,NaN,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...,NaN,NaN,NaN,NaN,NaN
8777,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,NaN,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero...",NaN,NaN,NaN,NaN,NaN
8778,Movie,Zoot Suit,Luis Valdez,"Daniel Valdez, Edward James Olmos, Charles Aid...",United States,"April 15, 2021",1981,R,NaN,"Cult Movies, Dramas, Music & Musicals","In this drama based on a 1940s trial, the memb...",NaN,NaN,NaN,NaN,NaN
8785,Movie,Æon Flux,Karyn Kusama,"Charlize Theron, Marton Csokas, Jonny Lee Mill...",United States,"February 1, 2018",2005,PG-13,NaN,"Action & Adventure, Sci-Fi & Fantasy","Aiming to hasten an uprising, the leader of an...",NaN,NaN,NaN,NaN,NaN

   - Muestra todas las películas (type = “Movie”) y selecciona las columnas title y director.

In [218]:
df_unido.loc[df_unido["type"]=="Movie",["title","director","type"]]

                              title                     director   type
0                            #Alive                       Cho Il  Movie
1     #AnneFrank - Parallel Stories  Sabina Fedeli, Anna Migotto  Movie
2                 #FriendButMarried                Rako Prijanto  Movie
3               #FriendButMarried 2                Rako Prijanto  Movie
4                             #Roxy              Michael Kennedy  Movie
...                             ...                          ...    ...
8798             ​Maj Rati ​​Keteki            Santwana Bardoloi  Movie
8799                    ​Mayurakshi                  Atanu Ghosh  Movie
8801           ​​Kuch Bheege Alfaaz                         Onir  Movie
8805                        반드시 잡는다                Hong-seon Kim  Movie
8806            최강전사 미니특공대 : 영웅의 탄생                Young Jun Lee  Movie

[6131 rows x 3 columns]

 - Selecciona los títulos (title) y géneros (listed_in) de todas las producciones lanzadas en 2018.

In [220]:
df_unido.loc[df_unido["release_year"]==2018,["title","listed_in","release_year"]]

,title,listed_in,release_year
2,#FriendButMarried,"Dramas, International Movies, Romantic Movies",2018
4,#Roxy,"Comedies, Romantic Movies",2018
20,100 Days My Prince,"International TV Shows, Romantic TV Shows, TV ...",2018
21,100 Days Of Solitude,"Documentaries, International Movies",2018
39,14 Cameras,"Horror Movies, Thrillers",2018
...,...,...,...
8776,Zoo,"Dramas, Independent Movies, International Movies",2018
8795,يوم الدين,"Dramas, Independent Movies, International Movies",2018
8797,​Goli Soda 2,"Action & Adventure, Dramas, International Movies",2018
8801,​​Kuch Bheege Alfaaz,"Dramas, Independent Movies, International Movies",2018
8806,최강전사 미니특공대 : 영웅의 탄생,Children & Family Movies,2018

- Selecciona las filas donde la columna director esté vacía y muestra solo los títulos (title).

In [221]:
df_unido.loc[df_unido["director"].isna(),["title"]]

                                    title
8                                #blackAF
12                                    '89
14                               (Un)Well
20                     100 Days My Prince
21                   100 Days Of Solitude
...                                   ...
8796                  แผนร้ายนายเจ้าเล่ห์
8800  ​SAINT SEIYA: Knights of the Zodiac
8802                             忍者ハットリくん
8803                                 海的儿子
8804                                 마녀사냥

[2634 rows x 1 columns]

- Selecciona las primeras 5 filas del conjunto de datos y muestra solo las columnas title, director y country.

In [236]:
df_unido.iloc[:5, [1, 2, 4]]

                           title                     director      country
0                         #Alive                       Cho Il  South Korea
1  #AnneFrank - Parallel Stories  Sabina Fedeli, Anna Migotto        Italy
2              #FriendButMarried                Rako Prijanto    Indonesia
3            #FriendButMarried 2                Rako Prijanto    Indonesia
4                          #Roxy              Michael Kennedy       Canada

- Muestra las últimas 5 filas del conjunto de datos y selecciona las columnas title y description.

In [238]:
df_unido.iloc[:5, [1, 10]]

,title,description
0,#Alive,"As a grisly virus rampages a city, a lone man ..."
1,#AnneFrank - Parallel Stories,"Through her diary, Anne Frank's story is retol..."
2,#FriendButMarried,"Pining for his high school crush for years, a ..."
3,#FriendButMarried 2,As Ayu and Ditto finally transition from best ...
4,#Roxy,A teenage hacker with a huge nose helps a cool...

  - Selecciona las primeras 10 filas del dataset y muestra las columnas desde la segunda hasta la quinta (incluidas).

In [243]:
df_unido.iloc[:10,1:5]

,title,director,cast,country
0,#Alive,Cho Il,"Yoo Ah-in, Park Shin-hye",South Korea
1,#AnneFrank - Parallel Stories,"Sabina Fedeli, Anna Migotto","Helen Mirren, Gengher Gatti",Italy
2,#FriendButMarried,Rako Prijanto,"Adipati Dolken, Vanesha Prescilla, Rendi Jhon,...",Indonesia
3,#FriendButMarried 2,Rako Prijanto,"Adipati Dolken, Mawar de Jongh, Sari Nila, Von...",Indonesia
4,#Roxy,Michael Kennedy,"Jake Short, Sarah Fisher, Booboo Stewart, Dann...",Canada
5,#Rucker50,Robert McCullough Jr.,NaN,United States
6,#Selfie,Cristina Jacob,"Flavia Hojda, Crina Semciuc, Olimpia Melinte, ...",Romania
7,#Selfie 69,Cristina Jacob,"Maia Morgenstern, Olimpia Melinte, Crina Semci...",Romania
8,#blackAF,NaN,"Kenya Barris, Rashida Jones, Iman Benson, Genn...",United States
9,#cats_the_mewvie,Michael Margolis,NaN,Canada

  - Muestra las últimas 7 filas del dataset y selecciona las columnas title, director, y country usando índices posicionales.

In [246]:
df_unido.iloc[-7:, [1, 2, 4]]

                                    title       director      country
8800  ​SAINT SEIYA: Knights of the Zodiac            NaN        Japan
8801                 ​​Kuch Bheege Alfaaz           Onir        India
8802                             忍者ハットリくん            NaN        Japan
8803                                 海的儿子            NaN          NaN
8804                                 마녀사냥            NaN  South Korea
8805                              반드시 잡는다  Hong-seon Kim  South Korea
8806                  최강전사 미니특공대 : 영웅의 탄생  Young Jun Lee          NaN

- Selecciona las filas desde la 15 hasta la 25 (incluidas) y muestra las primeras 4 columnas.

In [247]:
df_unido.iloc[14:25, :4]

,type,title,director,cast
14,TV Show,(Un)Well,NaN,NaN
15,Movie,1 Chance 2 Dance,Adam Deyoe,"Lexi Giovagnoli, Justin Ray, Rae Latt, Poonam ..."
16,Movie,1 Mile to You,Leif Tilden,"Billy Crudup, Graham Rogers, Liana Liberato, S..."
17,Movie,10 Days in Sun City,Adze Ugah,"Ayo Makun, Adesua Etomi, Richard Mofe-Damijo, ..."
18,Movie,10 jours en or,Nicolas Brossette,"Franck Dubosc, Claude Rich, Marie Kremer, Math..."
19,Movie,"10,000 B.C.",Roland Emmerich,"Steven Strait, Camilla Belle, Cliff Curtis, Jo..."
20,TV Show,100 Days My Prince,NaN,"Doh Kyung-soo, Nam Ji-hyun, Cho Seong-ha, Cho ..."
21,Movie,100 Days Of Solitude,NaN,NaN
22,TV Show,100 Humans,NaN,"Zainab Johnson, Sammy Obeid, Alie Ward"
23,Movie,100 Meters,Marcel Barrena,"Dani Rovira, Karra Elejalde, Alexandra Jiménez..."
24,Movie,100 Things to do Before High School,NaN,"Isabela Moner, Jaheem Toombs, Owen Joyner, Jac..."


   - Muestra las filas 20 a 30 y solo las columnas title, release_year, y rating usando índices posicionales.

In [252]:
df_unido.iloc[19:30, [1, 6, 7]]

                                       title  release_year rating
19                               10,000 B.C.          2008  PG-13
20                        100 Days My Prince          2018  TV-14
21                      100 Days Of Solitude          2018  TV-MA
22                                100 Humans          2020  TV-14
23                                100 Meters          2016  TV-MA
24       100 Things to do Before High School          2014   TV-Y
25  100 Years: One Woman's Fight for Justice          2016  TV-14
26                                100% Halal          2020  TV-14
27                               100% Hotter          2017  TV-14
28                           1000 Rupee Note          2014  TV-14
29                              12 ROUND GUN          2017  TV-MA